
.etsme{
    display: flex;
    /* justify-content: left; */
    // font-size: ;
    font-size: 40px;
    color: rgb(232, 108, 0);
    padding: 10px;
    padding-left: 20px;
   }
   
.etsme-mini{
    display: flex;
    /* justify-content: left; */
    // font-size: ;
    font-size: x-large;
    color: rgb(255, 255, 255);
    padding: 10px;
    // padding-left: 20px;
   }

   header{
    //    padding-top: 10px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       border-bottom: solid rgb(227, 227, 227) 2px;
   }
   
   .right-side-header{
       display: flex;
       align-items: center;
       padding: 10px;
       padding-right: 20px;
       justify-content: space-evenly;
    //    justify-content: center;
       /* justify-content: right; */
       /* flex-direction: row; */
       /* justify-content: space-around; */
   }

   /* 
   .login-route{
       display: flex;
       
       flex-direction: column; 
       padding: 20px;
   }
   .signup-route{
       display: flex;
       
       flex-direction: column;
   } */
   
   .form-register{
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       background-color: rgb(160, 160, 160);
   }
   
   .header-group{
       display: inline-flex;
       align-items: center;
    //    padding-left: 20px;
   }
   
   .search-bar{
    //    padding: 10px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    //    margin-top: 9px;
       font-size: large;
       overflow: hidden;
       height: 40px;
       width: 100%;
       background-color: rgb(236, 236, 236);
       border: solid black 2px;
       border-radius: 30px;
   }
   
   .modal-background {
       position: fixed;
       top: 0;
       bottom: 0;
       right: 0;
       left: 0;
       background: rgba(65, 65, 65, 0.7);
       z-index: 10;
   }
   
   .modal-child {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

   .ununderlined-link{
       text-decoration: none;
       color: black;
    //    padding: 10px;
   }

   .cart-button{
       background-color: white;
       padding: 10px;
       border: none;
   }

   .cart-button:hover{
        cursor: pointer;
        // background-color: rgb(240, 240, 240);
        padding: 10px;
        border-radius: 10px;
   }

.login-form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    // text-align: center;

}

.input-field{
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(199, 199, 199) 1px;
    // margin-top: 5px;
}

h1{
    font-size: x-large;
}

.submit-button{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: box-shadow .7s, background-color .7s;
}

.submit-button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(178, 178, 178);
}

footer{
    // position: ;
    bottom: 0;
    width: 100%;
}

.right-buttons{
//    margin-left: 5px;
//    margin-right: 5px;
    background-color: white;
    border: none;
    padding: 10px;
}
.right-buttons:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

// .listing-index-item{
//     // display: grid;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     margin-right: 5px;
//     // padding-right: 20px;
//     // border: solid black 1px;
//     min-width: 200px;
//     max-width: 250px;
//     // border-radius: 5px;
//     // margin-left: 10px;
// }

.listing-index-item{
    // display: grid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    // padding-right: 20px;
    // border: solid black 1px;
    min-width: 200px;
    max-width: 250px;
    // border-radius: 5px;
    // margin-left: 10px;
}

.listing-image{
    // min-width: 200px;
    // min-height: 200px;
    // max-width: 250px;
    // max-height: 250px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    transition: box-shadow .7s;
}

.listing-image:hover{
    box-shadow: 0px 0px 5px 5px rgb(215, 215, 215);
}

// .listing-index{
//     // display: grid;
//     display: flex;
//     justify-content: space-evenly;
//     flex-wrap: wrap;
//     // align-items: center;
// }

.listing-index{
    // display: grid;
    display: flex;
    margin: 20px;
    // justify-content: space-evenly;
    flex-wrap: wrap;
    // align-items: center;
}

.listing-show-image{
    width: 600px;
}

.full-page-info{
    display: flex;
    // align-items: center;
    justify-content: center;
    // text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.show-page-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 100%;
    width: 400px;
    max-width: 700px;
    min-width: 100px;
    height: 500px;
    margin-left: 20px;
    border-bottom: solid rgb(200, 200, 200) 2px;
}

.header-name:hover{
    width: fit-content;
    // height: 36px;
    // padding: 0px;
    cursor: pointer;
    padding: 10px;
    // margin-left: 5px;
    // margin-right: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(203, 203, 203);
    background-color: rgb(240, 240, 240);
}

.header-name{
    width: fit-content;
    padding: 10px;
    // margin-left: 5px;
    // margin-right: 5px;
    text-align: center;
    transition: box-shadow .7s, background-color .7s;
    border-radius: 10px;
    // margin: 10px;
}

.what-is-etsme{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8EBE6;
    padding-top: 20px;
    margin-bottom: -100px;
    // margin-bottom: 150px;
    // margin-top: -150px;
    // position: absolute;
    z-index: -999;
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    // border-top: solid rgb(255, 220, 206) 1px;
}

.desc{
    margin-top: 10px;
    padding-left: 20px;
}

.desc-title{
    text-align: center;
}

.header-button{
    height: 100%;
    align-self: center;
    border: none;
    background-color: white;
    width: 70px;
    padding: 10px;
    margin-top: 0px;
}

.header-button:hover{
    cursor: pointer;
    // background-color: rgb(240, 240, 240);
    border-radius: 10px;
    // padding: 10px;
    border: none;
}

.login-as-demo{
    background-color: white;
    border: solid rgb(232, 108, 0) 2px;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    // (147,135,249)
}

// .login-as-demo:hover{
//     background-color: rgb(240, 240, 240);
// }

button{
    margin: 5px;
    background-color: white;
    border: none;
    transition: box-shadow .7s, background-color .7s;
    border-radius: 10px;
    // size: 0%;
}

.other-form{
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 10px;
}

button:hover{
    cursor: pointer;
    padding: 10px;
    // size: 100%;
    box-shadow: 1px 1px 1px rgb(178, 178, 178);
    background-color: rgb(240, 240, 240);
    // z-index: 99999;
}

// animations

// @keyframes button-hover{

// }

.page-contents{
    margin: 20px;
    position: relative;
    min-height: 63vh;
}

.add-to-cart{
    width: 100%;
    padding: 10px;
    margin: 0px;
    border: solid gray;
}

.footerfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-top: -150px;
    // margin-top: 100%;
    // position: absolute;
    width: 100%;
    bottom: 0;

    height: 100px;
    background-color: #4D6BC6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: solid rgb(255, 227, 234) 1px;
}

.search-input{
    -webkit-appearance: none;
    background-color: rgb(236, 236, 236);
    font-size: large;
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
}

.search-bar-button{
    // padding: 10px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    margin: 0px;
    margin-top: 3px;
    padding: 10px;
    text-align: center;
    height: 60px;
    width: 45px;
    // color: black;
    transition: color .7s, background-color .7s;
}

.search-bar-button:hover{
    // color: white;
    background-color: rgb(206, 206, 206);
}

.reviews{
    margin-top: 20px;
    border-bottom: solid rgb(200, 200, 200) 2px;
}

.fa{
    // margin-top: 5px;
    font-size: large;
}

button:active{
    background-color: rgb(145, 145, 145);
}

// button:focus{
//     // background-color: rgb(145, 145, 145);
// }

.form-input{
    // display: flex;
    justify-content: end;
    // align-items: center;
    margin-top: 5px;
    // margin-left: 20px;
    // margin-right: 20px;
}

// .show-page{
//     display: flex;
//     text-align: center;
// }

.lst{
    margin-bottom: 10px;
}

.demo-login-area{
    border-top: solid rgb(200, 200, 200) 2px;
    margin-top: 20px;
    width: 221px;
}

.dropdown-items{
    display: none;
    visibility: none;
    position: absolute;
    padding: 10px;
    // margin-right: 20px;
    // margin-top: 40px;
    border-radius: 20px;
    width: 200px;
    flex-direction: column;
    transition: visibility 1s;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent;
    // align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgb(80, 80, 80), 0px 2px 3px 0px rgb(80, 80, 80);
    z-index: 999999999;
}

.dropdown{
    position: relative;
    display: block;
    padding: 10px;
    // flex-direction: column;
    // margin-top: 60px;
    // justify-content: center;
}

.dropdown:hover .dropdown-items{
    visibility: visible;
    display: flex;
}

.dropdown-button{
    padding: 10px;
    text-align: left;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 0px;
}

.username-dropdown{
    margin: 10px;
}

.full-listing-form{
    display: flex;
    flex-direction: column;
    justify-content: right;
    // align-items: center;
}

.description-field{
    width: 70%;
    height: 150px;
    // margin-right: 20px;
}

.label-for-listing-input{
    padding: 20px;
    font-size: large;
    font-weight: bold;
}
// .listing-form-title{

// }

// .pricetag{
//     display: flex;
//     flex-direction: row;
//     justify-content: end;
//     align-items: center;
//     margin-right: 20px;
//     width: 600px;
// }

.listing-input{
    border: solid rgb(200, 200, 200) 1px;
    // display: flex;
}

.input-field-listing{
    height: 30px;
    width: 70%;
    // margin-left: 50px;
    // margin-right: 20px;
}

.submit-button-listing{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: box-shadow .7s, background-color .7s;
}

// .dollarsign{
//     font-size: large;
//     padding: 5px;
// }

.mini-margin{
    margin-top: 10px;
}

.listing-form-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.listing-title{
    font-size: large;
}

.listing-form-price{
    font-size: large;
}

.listing-form-body{
    font-size: large;
}

p{
    font-size: 15px;
}

.login-form{
    display: flex;
    // align-items: flex-end;
    // justify-content: center;
    flex-direction: column;
    width: 222px;
}

.listing-form-input{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.your-listings{
    margin-top: 20px;
}

.upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(243, 243, 243);
    width: 250px;
    height: 100px;
}

.photo-upload{
    width: 200px
}

.preview-image{
    min-width: 200px;
    min-height: 200px;
    max-width: 250px;
    max-height: 250px;
    margin: 20px;
    // transition: box-shadow .7s;
    border: solid rgb(200, 200, 200) 2px;
    margin-left: 20px;
    object-fit: cover;
}

.all-user-listings{
    display: flex;
    flex-wrap: wrap;
}

.listing-item-rating{
    color: rgb(227, 178, 52);
}

.main-page-greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: -20px;
    margin-bottom: 0px;
    overflow: visible;
    background-color: #F8EBE6;
    height: 100px;
    width: 100%;
}

.all-listings-index{
    margin: -20px;
}

.right-side-footer{
    padding-right: 20px;
}

.listing-index-title{
    margin-top: 20px;
    margin-left: 20px;
}

.delete-edit{
    border-top: solid rgb(200, 200, 200) 1px;
    margin-right: 10px;
}

.delete-edit-button{
    margin: 5px;
    margin-left: 0px;
    padding: 10px;
}

.delete-edit-button:hover{
    margin: 5px;
    margin-left: 0px;
}

// .dropcontainer{
//     // margin-right: 100px;
//     // margin-top: 0px;
// }

.atag{
    height: fit-content;
}

.eliminate-bottom-margin{
    margin-bottom: 0px;
}

.photo-area{
    display: flex;
    justify-content: space-between;
}

.photo-desc{
    margin-left: 20px;
}

.left-side-image-upload{
    display: flex;
}

.right-side-image-upload{
    border-left: solid rgb(200, 200, 200) 1px;
}

.preview-container{
    margin-left: 40px;
}

.example-image-margin{
    margin-left: 60px;
    margin-right: 60px;
}

.example-label-margin{
    margin-left: 40px;
}

// .submit-button-arrange{
    
// }

.listing-index-item-info{
    overflow: hidden;
}

.listing-item-title{
    white-space: nowrap;
    text-overflow: hidden;
}

.listing-show-body{
    overflow: scroll;
    height: 250px;
}