
.etsme{
    display: flex;
    /* justify-content: left; */
    // font-size: ;
    font-size: xx-large;
    color: rgb(232, 108, 0);
    padding: 10px;
    padding-left: 20px;
   }
   
.etsme-mini{
    display: flex;
    /* justify-content: left; */
    // font-size: ;
    font-size: x-large;
    color: rgb(232, 108, 0);
    padding: 10px;
    padding-left: 20px;
   }

   header{
    //    padding-top: 10px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
   }
   
   .right-side-header{
       display: flex;
       align-items: center;
       padding: 10px;
       padding-right: 20px;
       justify-content: space-evenly;
       /* justify-content: right; */
       /* flex-direction: row; */
       /* justify-content: space-around; */
   }

   /* 
   .login-route{
       display: flex;
       
       flex-direction: column; 
       padding: 20px;
   }
   .signup-route{
       display: flex;
       
       flex-direction: column;
   } */
   
   .form-register{
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       background-color: rgb(160, 160, 160);
   }
   
   .header-group{
       display: inline-flex;
    //    padding-left: 20px;
   }
   
   .search-bar{
       padding: 10px;
    //    margin-top: 9px;
       font-size: large;
       overflow: hidden;
       height: 20px;
       width: 100%;
       background-color: rgb(236, 241, 245);
       border: solid black 2px;
       border-radius: 30px;
   }
   
   .modal-background {
       position: fixed;
       top: 0;
       bottom: 0;
       right: 0;
       left: 0;
       background: rgba(65, 65, 65, 0.7);
       z-index: 10;
   }
   
   .modal-child {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

   .ununderlined-link{
       text-decoration: none;
       color: black;
    //    padding: 10px;
   }

   .cart-button{
       background-color: white;
       padding: 10px;
       border: none;
   }

   .cart-button:hover{
        cursor: pointer;
        // background-color: rgb(240, 240, 240);
        padding: 10px;
        border-radius: 10px;
   }

.login-form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    // text-align: center;

}

.input-feild{
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
}

h1{
    font-size: x-large;
}

.submit-button{
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: box-shadow .7s, background-color .7s;
}

.submit-button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(178, 178, 178);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -150px;
    // margin-top: 100%;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
    background-color: rgb(254, 237, 241);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.right-buttons{
//    margin-left: 5px;
//    margin-right: 5px;
    background-color: white;
    border: none;
    padding: 10px;
}
.right-buttons:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.listing-index-item{
    // display: grid;
    padding: 5px;
    // border: solid black 1px;
    width: 150px;
    // border-radius: 5px;
    // margin-left: 10px;
}

.listing-image{
    width: 150px;
    transition: box-shadow .7s
}

.listing-image:hover{
    box-shadow: 2px 2px 2px rgb(178, 178, 178);
}

.listing-index{
    // display: grid;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
}

.listing-show-image{
    width: 400px;
}

.show-page{
    display: flex;
}
.show-page-info{
    margin-left: 20px;
    border-bottom: solid rgb(200, 200, 200) 2px;
}

.header-name:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(178, 178, 178);
    background-color: rgb(240, 240, 240);
}

.header-name{
    padding: 5px;
    transition: box-shadow .7s, background-color .7s;
    border-radius: 10px;
    // margin: 10px;
}

.what-is-etsme{
    background-color: rgb(251, 237, 224);
    padding-top: 20px;
    margin-bottom: 150px;
    margin-top: -150px;
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.desc{
    margin-top: 10px;
    padding-left: 20px;
}

.desc-title{
    text-align: center;
}

.header-button{
    height: 100%;
    align-self: center;
    border: none;
    background-color: white;
    width: 100px;
    padding: 10px;
}

.header-button:hover{
    cursor: pointer;
    // background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.login-as-demo{
    background-color: white;
    border: solid hwb(246 53% 0%) 2px;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    // (147,135,249)
}

// .login-as-demo:hover{
//     background-color: rgb(240, 240, 240);
// }

button{
    margin: 5px;
    background-color: white;
    border: none;
    transition: box-shadow .7s, background-color .7s;
    border-radius: 10px;

}

.other-form{
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 10px;
}

button:hover{
    cursor: pointer;
    padding: 10px;
    box-shadow: 1px 1px 1px rgb(178, 178, 178);
    background-color: rgb(240, 240, 240);
    // z-index: 99999;
}

// animations

// @keyframes button-hover{

// }

.page-contents{
    margin: 20px;
}

.add-to-cart{
    width: 100%;
    padding: 10px;
    border: solid gray;
}